
/*
alert_overlay 
alert_msg 
alert_content
alert_buttons
alert_btnclass
alert_btn_ok 
alert_btn_cancel
*/
.alert_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.29);
}
.alert_heading{
text-align: center;
background-color:red;
margin-bottom: 15px;
border-radius: 15px 15px 0px 0px;
}
.log_label{
    color: white;
    margin-top: 7px;
  }
.alert_msg {
    /* position: absolute; */
    /* width: 88%; */
    /* left: 50%; */
    /* margin-left: -140px; */
    /* top: 45%; */
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    background: #fff;
    animation: alertshow .2s ease;
    margin: 80% auto;
    margin-left: 40px;
    margin-right: 40px;
    /* height: 136px; */
    border-radius: 15px;
}

.alert_content{
    font-size: 18px;
    text-align: center;
    /* margin-top: 0px; */
    margin-bottom: 10px;
}

.blue-btn {
    padding: 2px 21px;
    font-size: 13px;
    background: #1e87db;
    border-radius: 3px;
    border: 0;
    color: #fff;
}

.alert_buttons {
    text-align: center;
    padding: 1px 1px 1px 0px;
}

.alert_buttons .alert_btn{
    display: inline-block;
    border: none;
    border-radius: 15px;
    color: #fff;
    background: #03b6ae;
    padding: 8px 50px;
    margin-bottom: 10px;
}
.alert_buttons .alert_btn:only-child{width:100%}
.alert_buttons .alert_btn:first-child+.alert_btn{border-left:1px solid #ccc;border-radius:0 0 4px 0;}
.alert_tips{position:fixed;z-index:10176523;width:100%;top:75%;pointer-events:none;text-align:center;}
.alert_tips div{box-sizing:border-box;display:inline-block;padding:15px;border-radius:10px;background:rgba(0,0,0,.7);min-width:50px;max-width:230px;text-align:center;color:#fff;animation: tipsshow 3s .01s ease;opacity:0;}
@keyframes alertshow {0% {opacity: 0;transform: scale(.5)}70% {opacity: .7;transform: scale(1.05)}100% {opacity: 1;transform: scale(1)}}
@keyframes tipsshow {0% {opacity: 0;transform:scale(1.4) rotateX(-360deg)}20% {opacity:1;transform:scale(1) rotateX(0deg)}80% {opacity:1;transform:scale(1) rotateX(0deg)}100% {opacity:0;transform:scale(1.4) rotateX(360deg)}}
